.dropdown {
  margin: 0.5rem 0;
  padding: 0;
  display: inline-block;
}

.dropdownBtn {
  position: relative;
  display: inline-flex;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  border: 1px solid #00824D;
  background: #FFF;
  font-size: 1rem;
  cursor: pointer;
  align-items: center;
  margin-left: 0.25rem;
  border-radius: 4px;

  svg {
    color: #00824D;
  }
}

.dropdownItems {
  position: absolute;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 1000;
  background: #FFF;
  padding: 0.5rem;
  margin-left: 0.25rem;
  border: 1px solid #00824D;
  border-radius: 4px;
  box-shadow: 2px 2px 1px #ccc;
}

.dropdownItems a {
  padding: 0.5rem 0.25rem;
}

.dropdownItems a + a {
  border-top: 1px solid #1A9D49;
}

.dropdownItems a:hover {
  background: lightblue;
}
