version: '3'

services:
#  auth:
#    build:
#      context: ../forbruk-security-test
#    ports:
#      - 8443:8443
#      - 8080:8080

  nextjs:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    depends_on:
      - backend
      - bff

  bff:
    build:
      context: ../consumption-bff
      dockerfile: Dockerfile.dev
    ports:
      - 3005:3005
    environment:
      - FIREBASE_SERVICE_ACCOUNT_JSON=/app/secure/serviceAccountKey-gcp.json
      - FIREBASE_CONFIG_JSON=/app/secure/config-gcp.js
      - DEPLOYMENT_ENV=local

  backend:
    build:
      context: ../survey-service
    ports:
      - 8081:8080

  nginx:
    build: ./nginx
    depends_on:
      - nextjs
    ports:
      - 443:443
      - 80:80

