@import '../../styles/common';

.purchasesList {
  margin: 0;
  border-bottom: 1px solid #eee;
  padding: 1rem 1.25rem;

  .purchaseEntry {
    background-color: #fff;
    padding: 0.5rem 1rem;
  }

  .purchaseEntry + .purchaseEntry {
    margin-top: 1rem;
  }

  .purchaseGroup {
    display: flex;
    background: #fff;
    padding: 0.5rem;

    .purchaseGroupDate {
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      padding: 0.5rem 0.75rem 0.5rem 0.5rem;
      justify-content: flex-start;
      align-items: center;
      border-right: 1px solid #eee;

      .purchaseGroupDateMonth {
        font-variant: small-caps;
        color: #666;
      }

      .purchaseGroupDateDay {
        colof: #333;
        font-size: 1.25rem;
      }
    }

    .purchaseGroupEntries {
      flex-grow: 2;
      padding: 0.5rem 0.5rem 0.5rem 1rem;

      .purchaseGroupEntry {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .purchaseGroup + .purchaseGroup {
    margin-top: 1rem;
  }
}

.addPurchase {
  .addPurchaseForm {
    display: table;
    width: 100%;
    margin: 1rem 0;

    .lineItem {
      display: table-row;


      .lineItemField {
        display: table-cell;
        border-bottom: 1px solid $ssb-green-2;
        padding: 0 0.25rem 0.25rem;

        input {
          width: 100%;
          border-width: 0;
        }
      }

      .lineItemField + .lineItemField {
      }

      .lineItemName {
      }

      .lineItemQty,
      .lineItemPrice {
        border-bottom: 0;

        input {
          text-align: right;
        }
      }

      .viewMode {
        border-bottom: 0;
      }

      .lineItemQtyView,
      .lineItemPriceView {
        border-bottom: 0;
        display: flex;
        justify-content: space-between;
        text-align: right;


        div {
          width: 100%;
          padding: 0;
        }

        span:last-of-type {
          text-align: left;
          width: 1.5em;
          padding: 0 0.125em;
        }
      }

    }
  }
}

.addPurchaseFooterTotal {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  background-color: #F1F8F9;
  color: #000;
  font-weight: bold;
  font-size: 1.25rem;

  .addPurchaseFooterTotalText {
  }

  .addPurchaseFooterTotalSum {
  }
}

.addPurchaseFooter {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
}


