@import 'src/styles/common';

.actionIcons {
  display: inline-flex;
  justify-content: flex-end;
  height: 3rem;
  align-items: center;

  a.actionIcon {
    color: #00824D;
    position: relative;

    .actionIconBadge {
      background-color: $ssb-red-3;
      border-radius: 8px;
      width: 16px;
      height: 16px;
      position: absolute;
      top: -6px;
      right: -2px;
      font-size: 0.65rem;
      color: $ssb-white;

      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  .actionIcon {
    width: 30px;
    height: 30px;
    padding: 0.5rem 0.125rem 0.25rem 0.5rem;
    margin: 0.5rem;
    background: #ECFEED;
    border-radius: 20px;
    border: 1px solid #00824D;
  }

  .offline {
    background: #eee;
    color: #ED5935 !important;
    border-color: #ccc;
    border-style: dashed;
    background: transparent;
    border-width: 0;
  }

  .actionIcon:last-of-type {
    margin-right: 0;
  }
}
