@import 'src/styles/common';
.fullScreen {
  @include makeFullScreen
}

/* TODO: use rem instead of px */

.menu {
  position: relative;
  background-color: #274247;
  color: #fff;
  hr {
    background-color: #c8dbdc;
    height: 1px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 5px;
  }
  .menuItems {
    padding-right: 20px;
    padding-left: 20px;

    margin: 1.75rem 0;

    .menuItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .logoutSection {
    position: absolute;
    bottom: 0;
    width: 100%;
    .whoamiContainer {
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
      position: relative;
      padding: 10px;
      background-color: $ssb-dark-3;
    }
    .buttonContainer {
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 20px;
      position: relative;
      .logoutButton {
        background-color: inherit;
        border: 2px solid #b6e8b8;
        color: #b6e8b8;
        width: 100%;
        padding: 10px;
      }
    }

  }
}
