@import '../../styles/common';

.fbuForm {
  display: flex;
  flex-direction: column;

  .fbuFormField {
    margin: 0;

    label {
      color: $ssb-green-4;
    }

    input {
      font-size: 1rem !important;
      line-height: 2rem !important;
      padding: 0.5rem !important;
    }
  }

  .fbuFormFieldHelp {
    color: $ssb-green-4;
  }

  .fbuFormField + .fbuFormGroup,
  .fbuFormGroup + .fbuFormField,
  .fbuFormGroup + .fbuFormGroup,
  .fbuFormField + .fbuFormField {
    margin-top: 1rem;
  }

  .fbuFormGroup {
    margin: 0;

    padding: 0.5rem 0.25rem;
    border: 1px solid $ssb-dark-5;

    .fbuFormField + .fbuFormField {
      margin: 0 0 0 0.5rem !important;
    }

    &:focus {
      border: 2px solid $ssb-green-4;
    }
  }
}
