@import '../../styles/common';

.fbuForm {
  display: flex;
  flex-direction: column;

  .fbuFormField {
    margin: 0;

    label {
      color: $ssb-green-4;
    }

    input {
      font-size: 1rem;
      line-height: 2rem;
      padding: 0.5rem;
    }
  }

  .fbuFormFieldHelp {
    color: $ssb-green-4;
  }

  .fbuFormField + .fbuFormGroup,
  .fbuFormGroup + .fbuFormField,
  .fbuFormGroup + .fbuFormGroup,
  .fbuFormField + .fbuFormField {
    margin-top: 1rem;
  }

  .fbuFormGroup {
    margin: 0;

    .fbuFormField + .fbuFormField {
      margin: 0 0 0 0.5rem !important;
    }
  }
}
