@import '../../styles/common';

.itemMaskContainer {
  display: flex;
  align-items: center;

  .nameField {
    order: 1;
    flex-grow: 1;

    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
    border: 0;
  }

  .qtyField {
    order: 2;
    flex-grow: 0;

    input {
      text-align: right;
      border: 0;
    }
  }

  .priceField {
    order: 3;
    flex-grow: 0;
    flex-direction: row;
    align-items: center;

    input {
      text-align: right;
      border: 0;
      width: unset;
    }
  }

  .cancelItemIcon {
    order: 4;
  }

  .addItemIcon {
    display: none;
  }

  .itemMaskAction {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.25rem;
    border-radius: 50%;
  }

  .addItemIcon {
    color: $ssb-green-4;
    background-color: $ssb-green-1;
    border: 1px solid $ssb-green-1;
  }

  .cancelItemIcon {
    color: $ssb-red-4;
  }

  .searchTerms {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 1.5rem;
    background: #fff;
    border: 1px solid #0b2e13;
    padding: 0.5rem;
  }
}
