@import '../../styles/common';

.textfield {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 1px solid $ssb-green-3;
  width: 100%;

  .textfieldAdornmentPrefix,
  .textfieldAdornmentSuffix {
    color: $ssb-green-4;
    line-height: 2rem;
  }

  .textfieldAdornmentPrefix {
    order: 1;
  }

  .textfieldInput {
    order: 2;
    flex-grow: 1;
    padding: 0;
    display: flex;
    border: 1px solid;

    input {
      border-width: 0;
      font-size: 1rem;
      line-height: 2rem;
      width: 100%;
      padding: 0.25rem 0.5rem;
    }
  }

  .textfieldAdornmentSuffix {
    order: 3;
  }
}
