@import 'src/styles/common';

.fbuModalOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  color: #fff;
}

.fbuModalDialog {
  background-color: #fff;
  color: red;
  border-radius: 5px;
  margin: 0 auto;
  padding: 30px;
  width: 80%;
}

.snackbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  margin: 1rem 0 2rem;

  background-color: $ssb-dark-6;
  color: $ssb-purple-1;

  a {
    color: $ssb-green-3;
  }
}
