@import 'src/styles/common';

.fbuModalOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(39, 66, 71, 0.9);
  padding: 1rem;
  color: #fff;
  z-index: 100;
  touch-action: none;
}

@media(max-height: 520px) {
  .fbuModalDialog {
    margin: 10% auto;
  }
}

.fbuModalDialog {
  background-color: #fff;
  border-radius: 0.25rem;
  margin: 20% auto;
  padding: 1.25rem;

  display: flex;
  flex-direction: column;

  @media(max-height: 520px) {
    margin: 10% auto;
  }

  .fbuModalDialogHeader {
    padding: 0;
    background-color: #fff;
    font-size: 1.5rem;
    margin: 0 0 1.25rem;
    font-family: "Roboto Condensed";

    display: flex;
    justify-content: space-between;
    align-items: center;

    h2, h3, h4 {
      color: #333;
      font-family: 'Roboto Condensed';
    }
  }
}

.fbuModalFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 1.25rem;

  .fbuModalActionButton {
    flex: 1 1;
    line-height: 1rem;
    font-size: 1rem;

    display: flex;
    justify-content: center;

    font-family: 'Open Sans';
    font-weight: normal;
  }

  .fbuModalActionButton + .fbuModalActionButton {
    margin-left: 1.25rem;
  }

  .fbuModalCloseButton {

  }

  .fbuModalCancelButton {
  }
}

.snackbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  margin: 0 0 1rem;

  background-color: $ssb-dark-6;
  color: $ssb-purple-1;

  a {
    color: $ssb-green-2;
  }
}
