.badge {
  background-color: $ssb-red-3;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  position:absolute;
  top: -6px;
  right: -2px;
  font-size: 0.65rem;
  color: $ssb-white;

  display: flex;
  justify-content: center;
  align-items: center;
}
