@import '../../../styles/common';

.carousel {
  width: 100%;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .slide {
    width: 100%;
    height: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow-y: scroll;
    overflow-x: hidden;

    .slideContent {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .slideNavContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .buttonComplex {
      display: flex;
      flex-direction: column;
      justifyContent: center;
      alignItems: center;

      .nextButton {
        margin: 1.25rem 0;
      }

      .skip {
        color: $ssb-green-4;
      }
    }


    .slideNav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      /* margin-bottom: 4.25rem; */

      z-index: 120;

      .slideDot {
        font-size: 2rem;
        color: $ssb-green-2;

        &.current {
          color: $ssb-green-4;
        }
      }

      .slideDot + .slideDot {
        margin-left: 1rem;
      }
    }
  }
}
