@import '../../styles/common';

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: stretch;
  /* padding-top: 1rem; */
  /* background-color: $ssb-dark-1; */
  margin: 0 auto;
}

.floatingAddNew,
.floatingAddExpense {
  position: absolute !important;
  right: 2.5rem;
  bottom: 5rem;

  a, li {
    background-color: #00824D !important;
    color: #fff !important;
  }

  li {
    margin: 0.5rem 0;
  }

  li:first-of-type {
    margin-bottom: 1.25rem;
  }

  .liShop {
    background-color: #A3136C !important;
  }

  .liService {
    background-color: #1D9DE2 !important;
  }
}

.dashboardTabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $ssb-dark-2;
}

.dashboardDiary {
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.dashboardPurchaseList {
  padding: 0 0 1rem 0;

  .dashboardPurchaseListHeader {
    display: flex;
    justify-content: space-between;
    padding: 0;

    .allEntriesLink {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $ssb-green-4;

      .allEntriesIcon {
        width: 1.25rem;
      }
    }
  }
}

.dashboardRegularExpenses {
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.dashboardChart {
  height: 200px;
}
