@import '/src/styles/mixins';

.workspace {
  display: flex;
  flex-direction: column;

  padding: 0 1.25rem 5rem 1.25rem;

  .pageTitle {
    margin: 2.5rem 0;

    h1 {
      font-family: "Roboto Condensed";
      font-weight: 700;
      font-size: 2.5rem;
      margin: 0;
    }

    .subText {
      font-size: 1rem;
    }
  }

  .section {
    display: flex;
    flex-direction: column;

    margin-top: 1.25rem;

    .sectionHeader {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .sectionTitle {
        font-size: 1.75rem;
        @include roboto-condensed();
        font-weight: 700;
        lin-height: 2.5rem;
      }

      .sectionVisibility {
        font-size: 1.75rem;
      }
    }

    .sortableList {
      margin: 1.25rem 0;
    }
  }
}
