@mixin roboto {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
}

@mixin roboto-condenced {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-stretch: condensed;
  font-weight: bold;
}

@mixin open-sans {
  font-family: 'Open Sans', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@mixin reset-button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  text-align: left;
}

