@import 'colours';

@mixin roboto {
  font-family: 'Roboto', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
}

@mixin roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-stretch: condensed;
  font-weight: bold;
}

@mixin open-sans {
  font-family: 'Open Sans', sans-serif !important;
  font-stretch: normal;
  font-weight: normal;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@mixin reset-button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  text-align: left;
}

/**
 * sass does not allow @extend within @media queries
 * this is a workaround.
 * ref: https://stackoverflow.com/questions/14840918/extending-selectors-from-within-media-queries-with-sass
 */
@mixin makeFullScreen {
  position: absolute !important;
  margin: 0 !important;
  padding: 0 !important;

  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;

  border-radius: 0 !important;
}

%makeFullScreen {
  @include makeFullScreen;
}

@mixin normalText {
  @include roboto();
  font-size: 1rem;
  color: $ssb-dark-6;
}
