@media(max-width: 480px) {
  .header-component-wrapper.front-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .pwaInstallButton {
    --install-button-color: $ssb-green-4;
    background-color: $ssb-green-4;
    margin: 0;
  }
}
