@import '@statisticsnorway/ssb-component-library/src/main.scss';

@import 'common';
@import 'vendors/material';
@import 'vendors/daypicker';

body {
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: normal; // override bootstrap global line-height style
  overflow-x: hidden; // removes horisontal scroll bar created by part preface
  overflow-y: scroll;

  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;
}

section {
  width: 100%;
}

p {
  margin: 0;
}

.ssb-accordion {
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-text {
      font-size: 1rem;
      line-height: 1.75rem;
    }
  }

  .accordion-body {
    padding: 0 0 1rem;
  }
}

.install-instructions {
  .accordion-body {
    padding: 0;
  }
}

.ssb-btn {
  display: flex;
  justify-content: center;
}

/**
 * things i could not fix with CSS Modules
 */
.ocrStatus_OCR_PENDING_USER_APPROVAL,
.ocrStatus_OCR_WAITING_NETWORK {
  color: $ssb-blue-3;
}

.ocrStatus_OCR_IN_PROGRESS {
}

.ocrStatus_OCR_ERROR,
.ocrStatus_OCR_UPLOAD_FAILED {
  color: $ssb-red-4;
}

.messagePanel--success {
  background-color: $ssb-green-1;
  color: $ssb-green-4;
}

.messagePanel--error {
  background-color: $ssb-red-1;
  color: $ssb-red-3;
}

.messagePanel--info {
  background-color: lightblue;
  color: $ssb-blue-3;
}

.messagePanel--warning {
  background-color: $ssb-red-1;
  color: $ssb-dark-4;
}
