@import '@statisticsnorway/ssb-component-library/src/main.scss';

@import 'common';
@import 'vendor';

body {
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: normal; // override bootstrap global line-height style
  overflow-x: hidden; // removes horisontal scroll bar created by part preface
  overflow-y: scroll;

  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;
}

section {
  width: 100%;
}

.ssb-tabs-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;

  h1 {
    font-size: 2.5rem;
    padding: 1rem 0;
    font-family: 'Roboto Condensed';
    margin: 0;
  }

  h3 {
    font-size: 1.5rem;
    padding: 0;
    font-family: 'Roboto Condensed';
    margin: 0;
  }
}

.ssb-tabs .navigation-item {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: normal;
  font-family: 'Roboto';

  padding: 0 0 1rem;
}

.ssb-tabs .navigation-item:not(:last-of-type) {
  margin-right: 2rem;
}

.ssb-tabs .navigation-item.active {
  font-weight: bold;
  color: $ssb-green-4;
}

.ssb-tabs-content {
  padding: 1rem 0;
}

.floatingAddExpense {
  .MuiFab-primary {
    background-color: $ssb-blue-3;
  }
}

.section-nav {
  display: flex;
  flex-direction: column;

  margin: 1rem 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: $ssb-dark-2;

  .section-nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    padding: 1rem 0;

    .title {
      font-weight: bold;
    }

    .link {
      color: $ssb-green-4;
    }
  }

  .section-nav-item + .section-nav-item {
    border-top: 1px solid $ssb-dark-2;
  }
}

.ssb-tag {
  border-width: 0;
}

.ssb-tag.DONE {
  background-color: $ssb-green-4;
  color: #fff;
}

.ssb-tag.IN_PROGRESS {
  background-color: $ssb-blue-3;
  color: #fff;
}

.ssb-tag.INIT {
  background-color: $ssb-dark-2;
  color: $ssb-dark-4;
}
