$grid-gutter-width: 20px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1260px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1180px
);

@import "bootstrap";
@import "@statisticsnorway/ssb-component-library/src/main.scss";

@import '_variables';
@import '_global';
@import '_grid';
@import '_text';
@import '_font';
@import '_layout';
@import '_overrides';

@import './layout/header';

body {
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: $font-open-sans;
  line-height: normal; // override bootstrap global line-height style
  overflow-x: hidden; // removes horisontal scroll bar created by part preface
  overflow-y: hidden;
}

section {
  width: 100%;
}

section + section, .xp-layout + .xp-layout {
  margin-top: $spacer * 3;
}

.part-error {
  background-color: $ssb-red-3;
}

.bkg-grey {
  background-color: $ssb-dark-1;
}

.row {
  @include media-breakpoint-down(md) {
    margin-right: 0;
    margin-left: 0;
  }
}
