.App {
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.border-red {
  border-top-color: red !important;
  border-top-style: solid !important;
  border-top-width: 1px !important;
  border-right-color: red !important;
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-bottom-color: red !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-left-color: red !important;
  border-left-style: solid !important;
  border-left-width: 1px !important;
  border-image-source: initial !important;
  border-image-slice: initial !important;
  border-image-width: initial !important;
  border-image-outset: initial !important;
  border-image-repeat: initial !important;
}

.border-bm-green-05 {
  border-bottom: solid 0.5px green;
}

.main-container {
  display: flex;
  flex-flow: column;
}

.app-header {
  display: flex;
}

.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.height-100 {
  height: 100%;
}

.margin-bm-07em {
  margin-block-end: 0.7em;
}

.margin-lt-rt-20px {
  margin: 0 20px 0 20px;
}

.margin-rt-15px {
  margin-right: 15px;
}

.margin-tp-40 {
  margin-top: 40px;
}

.margin-tp-20 {
  margin-top: 20px;
}

.margin-tp-50 {
  margin-top: 50px;
}
.margin-bt-10 {
  margin-bottom: 10px;
}

.padding-10 {
  padding: 10px
}

.padding-tp-50px {
  padding-top: 50px;
}

.padding-tp-70px {
  padding-top: 70px;
}

.padding-bm-40px{
  padding-bottom: 40px;
}

.padding-bm-20px{
  padding-bottom: 20px;
}

.padding-bm-15px{
  padding-bottom: 15px;
}

.padding-tp-20px {
  padding-top: 20px;
}

.padding-tp-100px {
  padding-top: 100px;
}

.padding-tp-bm-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-tp-bm-5px {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-tp-bm-7px {
  padding-top: 7px;
  padding-bottom: 7px;
}

.padding-lt-rt-10px {
  padding-right: 10px;
  padding-left: 10px;
}

.padding-rt-10px {
  padding-right: 10px;
}

.padding-lt-10px {
  padding-left: 10px;
}

.padding-lt-rt-20px {
  padding-right: 20px;
  padding-left: 20px;
}

.padding-tp-bm-15px {
  padding-top: 15px;
  padding-bottom: 15px;
}

.padding-tp-bm-20px {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-tp-bm-30px {
  padding-top: 30px;
  padding-bottom: 30px;
}

.margin-lt-rt-10px {
  margin: 0 10px 0 10px;
}

.fsize-15 {
  font-size: 15px;
}

.fsize-20 {
  font-size: 20px;
}

.fsize-18 {
  font-size: 18px;
}

.flex-container {
  display: flex;
}

.height-vh-8 {
  height: 8vh;
}

.height-vh-77 {
  height: 77vh;
}

.height-50 {
  height: 50px;
}

.height-16 {
  height: 16px;
}

.hide-behind-top-n5-lt-10 {
  position: fixed;
  top: 198px;
  left: 30px;
  z-index: -10;
  transition: all 0.5s linear;
}

.trans-all {
  transition: all 0.5s linear;
}

.font-color-unactive {
  color: #62919A;
}

.hide {
  visibility: hidden;
}

.dy-none {
  display: none;
}

.dy-true {
  display: block;
}

.show {
  visibility: visible;
}

.absolute-top-n5px {
  top: 20px;
  left: 30px;
}

.bg-white {
  background: white;
}

.bg-darkblue {
  background: #F0F8F9;
}

.flex-row-center-vertical {
  align-items: center;
}

.flex-row-items-end {
  justify-content: flex-end;
}

.flex-restOfSpace {
  flex-grow: 1;
}

.flex-fill-remaining-vertical {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.border-bm-ssb-green-1px {
  border-bottom-color: #1a9d49;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.bg-ssb-dark1 {
  background-color: #F0F8F9;
}

.fw-normal {
  font-weight: normal;
}

.overview-line:focus {
  outline: rgb(146, 114, 252) solid 2px;
  outline-offset: 2px;
}

.radio-alt-container input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-alt-container label {
  display: flex;
  background-color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #274247;
  border-radius: 2px;
}

.radio-alt-container input[type="radio"]:checked + label {
  background-color: #274247;
  border-color: #274247;
  color: white;
}

.radio-alt-container input[type="radio"]:focus + label {
  /*border: 2px dashed #444; */
}

.p-lineHeight-05 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.padding-lt-rt-8pt-tp-bm-2pt {
  padding: 3% 8% 3% 8%
}

.padding-bm-50 {
  padding-bottom: 50px;
}

.center-text {
  text-align: center;
}

.question-container {
  padding: 7px 8% 7px 8%
}
.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-elements-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flex-row-elements-top {
  display: flex;
  align-items: flex-start !important;
}

.ssb-checkbox .checkbox-label:before {
  background: #fff;
  border: 1px solid #274247;
  border-radius: 2px;
  box-sizing: border-box;
  content: '';
  display: block;
  margin-right: 12px;
  height: 25px !important;
  width: 27px !important;
}

.ssb-checkbox:hover .checkbox-label:before, .ssb-checkbox:focus .checkbox-label:before {
  border: 2px solid #00824d;
  height: 25px;
  width: 27px;
}

.ssb-checkbox input[type=checkbox]:checked + .checkbox-label:before {
  background: #274247;
  height: 25px;
  width: 27px;
}

.ssb-checkbox input[type=checkbox]:checked + .checkbox-label:after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  box-sizing: initial;
  content: '';
  display: block;
  height: 15px !important;
  left: 8px !important;
  position: absolute;
  top: 2px;
  transform: rotate(
          45deg
  );
  width: 6px;

}

.question-nav-buttons-left {
  display: flex;
  align-items: center;
}

.question-nav-buttons-right {
  display: flex;
  align-items: center;
  justify-content: flex-end
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center-content {
  justify-content: center;
  align-items: center;
  width: 50% !important;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.number-format {
  text-align: right;
}
