@import '../../../styles/colours';

.purchasesCTAGroup {
  display: flex;
  flex-wrap: wrap;

  .purchaessCTA {
    background-color: $ssb-green-1;
    border: 0 !important;

    height: 2.25rem;

    display: flex;
    flex-direction: row;

    flex-basis: calc(50% - 1.5rem);
    margin: 0 0 1rem 0;
    padding: 0.5rem;

    align-items: center;
    justify-content: flex-start;

    .icon {
      color: $ssb-dark-5;
      width: 1.25rem;
      height: 1.25rem;

      margin-right: 0.5rem;
    }

    .text {
      color: $ssb-dark-5;
      font-size: 0.875rem;
      font-family: Roboto;
      font-weight: 400;
      line-height: 1.5rem;
    }
  }

  .purchaessCTA:nth-child(even) {
    margin-left: 1rem;
  }
}
