.homeScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem;

  flex-direction: column;
}

.welcome {
  flex-direction: column;
  background-color: #FFF;
  border: 1px solid #C3DCDC; /* #62919A; $ssb-dark-3 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.welcomeText {
  color: #A3136C;
}

.pwa-install-popup-ios {
  bottom: 75px;
  border-radius: 5px;
}

.iosShim {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  img {
    width: 50px;
    margin-right: 1rem;
  }
}
.arrow-box {
  position: relative;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}
.arrow-box:after, .arrow-box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}
.arrow-box:before {
  border-color: rgba(238, 238, 238, 0);
  border-top-color: #eee;
  border-width: 16px;
  margin-left: -16px;
}

