@import '../../../styles/common';

.numberStepper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;

  & > * {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .danger {
    color: $ssb-red-4 !important;
  }

  .disabled {
    color: $ssb-dark-2 !important;
  }

  .decrement {
    order: 1;
    color: $ssb-green-4;
  }

  .currValue {
    order: 2;
    color: $ssb-dark-5;
    margin: 0 0.5rem;
  }

  .increment {
    order: 3;
    color: $ssb-green-4;
  }

  .deleteDialog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Open Sans";

    .deleteText {
      color: #000;

      .deleteTextPrefix {
      }

      .deleteInfo {
        color: $ssb-green-4;
        font-weight: 700;
        margin: 0 0 0 0.25rem;
      }
    }

    .deleteTextSuffix {
      color: $ssb-red-4;
      margin: 1rem 0;
    }
  }
}
