.settingsPanel {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 1rem 0;
  padding: 0.5rem 0;
  cursor: pointer;

  h4 {
    margin-bottom: 0.5rem;
  }

  h5 {
    margin: 0;
    color: #999;
  }
}
