.workspace {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0;

  h3, h4 {
    display: inline-block;
    margin: 0;
  }

  .workspace-panel {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #C3DCDC;
  }

  .item-form-panel {
    background-color: #fff;
  }

  .add-item-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*
  .actionIcons {
    display: inline-flex;
    justify-content: flex-end;
    height: 3rem;
    align-items: center;

    a.actionIcon {
      color: #00824D;
    }

    .actionIcon {
      width: 40px;
      height: 40px;
      margin: 0 0.25rem;
      padding: 0.5rem;
      background: #ECFEED;
      border-radius: 20px;
      border: 1px solid #00824D;
    }

    .actionIcon:last-of-type {
      margin-right: 0;
    }
  } */

  .cameraPanel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .qr-scan-panel {
      min-height: 100px;
      background-color: #eee;
      border: 1px solid #ddd;

      .qr-success, .qr-success p {
        background-color: #0b2e13;
        color: #cfc;
        padding: 0.5rem;

        a {
          color: #fff;
        }
      }

      .qr-success p + p {
        margin: 0;
      }
    }
  }

  @media(max-width: 480px) {
    .item-form-panel {
      flex-direction: column;
    }

    .add-item-panel, .qr-scan-panel {
      flex-grow: 1;
    }
  }

  .list-items-panel {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .item-headers-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
