@import '../../../styles/mixins';

.messagePanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1.25rem;

  position: fixed;
  top: 6rem;
  left: 10%;
  right: 10%;
  z-index: 299;

  @include roboto();


  .icon {

  }

  .msg {
    @include roboto();
    overflow-wrap: break-word;

    padding-bottom: 1rem;
  }

  .action {
    padding-top: 1rem;
    color: $ssb-blue-3;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    font-weight: 700;

    border-top: 1px solid $ssb-dark-2;
  }

  .icon + .msg {
    margin-top: 1.25rem;
  }

  .msg + .action {
    margin-top: 0.5rem;
  }
}
