@import '../../../styles/common';

.purchaseNameDateForm {
  padding: 1rem;

  .purchaseName {
  }

  .purchaseDateGroup {
    display: flex;

    .purchaseDateIconWrapper {
      line-height: 2rem;
      padding: 0.5rem;
      background-color: $ssb-dark-2;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0.25rem;

      .purchaseDateIcon {
        color: $ssb-green-4;
        font-size: 1rem;
      }
    }
  }
}

.newItemForm {
  padding: 1.25rem;

  .itemNamePriceGroup {
    display: flex;
    flex-direction: row;

    .itemName {
      flex: 2 1;
    }

    .itemKrCents {
      flex: 1 0;

      input {
        text-align: right;
      }
    }
  }

  .itemQtyGroup {
    display: flex;
    flex-direction: row;

    .fbuFormField {
      margin: 0;
    }

    .fbuFormField + .fbuFormField {
      margin-left: 0.5rem !important;
    }

    .itemQty,
    .itemKr,
    .itemCents,
    .itemKrCents{
      input {
        text-align: right;
      }
    }
  }

  .itemPriceGroup {
    display: flex;

    .itemKr,
    .itemCents {
      text-align: right;
    }
  }
}
