@import '../../../styles/common';

.purchaseNameDateForm {
  padding: 1rem 0;

  .purchaseName {
    display: flex;
    flex-direction: column;
  }

  .purchaseDateGroup {
    display: flex;
    padding: 0;
    justify-content: space-between;

    .dayPickerInput {
      position: relative;
      width: 100% !important;
      display: flex !important;
      flex-direction: column !important;
    }

    .dayPickerOverlay {
      padding: 0.5rem;
      border: 1px solid $ssb-dark-3;
      color: #62919A;
    }

    .dayPickerDay {
      color: #62919A;
    }

    .dayPickerCaption {
      color: #62919A;
      font-weight: bold;
    }

    .dayPickerToday {
      color: #fff;
      background-color: $ssb-blue-3;
    }

    .dayPickerSelected {
      background-color: $ssb-green-4;
      color: #fff;
    }

    .dayPickerOverlayWrapper {
      background-color: #fff;
      position: absolute;
      top: 3.25rem;
    }

    .purchaseDateIconWrapper {
      line-height: 2rem;
      padding: 0.75rem;
      background-color: $ssb-dark-1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;

      flex: 0;

      .purchaseDateIcon {
        color: $ssb-green-4;
        font-size: 1rem;
      }
    }
  }
}

.newItemForm {
  padding: 1.25rem 0;

  .itemNamePriceGroup {
    display: flex;
    flex-direction: row;

    .itemName {
      flex: 2 1;
    }

    .itemKrCents {
      flex: 1 0;

      input {
        text-align: right;
      }
    }
  }

  .itemQtyGroup {
    display: flex;
    flex-direction: row;

    .fbuFormField {
      margin: 0;
    }

    .fbuFormField + .fbuFormField {
      margin-left: 0.5rem !important;
    }

    .itemQty,
    .itemKr,
    .itemCents,
    .itemKrCents {
      input {
        text-align: right;
      }
    }
  }

  .itemPriceGroup {
    display: flex;

    .itemKr,
    .itemCents {
      text-align: right;
    }
  }
}


.deletePurchase {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #000;

  .deletePurchaseText {
    .textPrefix {
      color: #000;
    }

    .textInfo {
      color: $ssb-green-4;
      font-weight: 700;
      margin: 0 0 0 0.25rem;
    }
  }

  .deleteWarning {
    color: $ssb-red-4;
    margin: 1rem 0;
  }
}

.deleteConfirmButton {
  background-color: #fff;
  border-color: $ssb-red-4;
  color: $ssb-red-4;

  &:hover {
    background-color: $ssb-red-4;
    color: #fff;
  }
}

.deleteCancelButton {

}
