@import 'src/styles/mixins';

.editPurchase {
  display: flex;
  flex-direction: column;

  padding-bottom: 3rem;
  margin-bottom: 3rem;

  .receiptPreview {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0.75rem 1.25rem;

    .scanNew {
      font-style: italic;
    }

    .icon {
      color: $ssb-green-4;
      margin-right: 0.5rem;
    }

    img.thumbnail {
      width: 2.75rem;
      height: 2.75rem;
    }

    .infoText {
      @include normalText();
    }

    .thumbnail + .infoText {
      margin-left: 0.75rem;
    }
  }

  .purchaseMeta {
    border-top: 1px solid $ssb-dark-5;
    padding: 1.25rem;

    display: flex;
    flex-direction: column;

    .purchaseDate {
      @include normalText();
    }

    .name {
      @include normalText();
    }

    .purchaseDate + .name {
      margin-top: 1.25rem;
    }
  }

  .items {

  }

  .purchaseMeta + .items {
    margin-top: 2.5rem;
  }

  .editPurchaseCTA {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $ssb-dark-2;
    background-color: #fff;
    z-index: 299;


    .saveButton {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .deletePurchaseLink {
    color: $ssb-red-4 !important;
  }
}
