@import '../../../styles/common';

.itemsTable {
  width: 100%;
  margin-bottom: 1.25rem;

  th, td {
    border-bottom: 1px solid $ssb-dark-2;
    padding: 0.5rem 0;
  }

  th {
    font-weight: bold;
    color: #909090;
  }

  .name, .units {
    text-align: left;
  }

  .qty, .price {
    text-align: right;
  }

  .qtyUnits {
    text-align: center;
  }

  .action {
    text-align: center;
    width: 1.5rem;
    margin: 0;
    padding: 0.25rem 0 0 0.25rem;
  }

  .spacer {
    line-height: 2.75rem;
  }

  .totalRow {
    td {
      font-weight: bold;
      font-size: 1.25rem;
      border-top: 1px solid #000;
      border-bottom: 0;
    }

    .total {
      text-align: right;
    }

    .nrItems {
      font-size: 1rem;
      color: $ssb-dark-3;
      text-align: right;
    }
  }
}

.actionIcon {
  font-size: 0.75rem;
  color: red;
}
