@import 'src/styles/mixins';

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 1.25rem;
  margin: 2.5rem 0 0;

  table.itemsTable {
    width: 100%;
    margin-bottom: 1.25rem;

    th, td {
      height: 2.75rem !important;
      font-size: 1rem;
    }

    th {
      border-bottom: 1px solid $ssb-dark-5;
      font-size: 0.875rem;

      padding: 0 !important;
    }

    td {
      border-bottom: 1px solid $ssb-dark-2;
      font-family: "Open Sans";
    }

    .itemName {
      text-align: left;
      padding: 0.25rem 0;
    }

    .itemQtyGroup {
      text-align: center;
    }

    .totalAmount,
    .unitPrice {
      text-align: right;
    }

    td.addNewRow {
      background-color: $ssb-green-1;
      color: $ssb-green-4;
      font-weight: 700;
      font-family: "Roboto";

      display: flex;
      align-items: center;

      padding: 0.25rem;

      .icon {
        width: 20px;
        height: 20px;
        margin-left: 0.25rem;
      }

      .text {
        @include roboto();
        color: $ssb-dark-6;
        font-weight: 400;
      }

      .icon + .text {
        margin: 0.5rem;
      }
    }

    td.addNewRowEmptyCol {
      background-color: $ssb-green-1;
    }

    .totalRow {
      td {
        border-bottom: 0;
        color: $ssb-dark-5;
        font-weight: 700;
        font-family: "Roboto";
      }
    }
  }
}
