@import '../../../styles/colours';

.purchases {
  display: flex;
  flex-direction: column;

  .btnAddNewFromReceipt,
  .btnAddNewManually {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  .btnAddNewManually:hover,
  .btnAddNewFromReceipt:hover {
    .icon {
      color: white;
    }
  }
}

.purchasesList {
  margin: 1.25rem 0;
  /* border-bottom: 1px solid #eee; */
  /* padding: 1rem 0; */

  .purchaseEntry {
    background-color: #fff;
    padding: 0.5rem 1rem;
  }

  .purchaseEntry + .purchaseEntry {
    margin-top: 1rem;
  }

  .purchaseGroup {
    display: flex;
    background: #fff;
    /* padding: 0.5rem; */
    color: #000;
    margin: 1.25rem 0;

    .purchaseGroupDate {
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: 1.25rem;
      margin-bottom: 1rem;
      align-items: center;
      /* border-right: 1px solid #eee; */

      .purchaseGroupDateMonth {
        font-variant: small-caps;
        color: #666;
        font-size: 0.875rem;
        font-family: "Open Sans";
        color: $ssb-dark-3;
      }

      .purchaseGroupDateDay {
        colof: #333;
        font-size: 1rem;
        font-family: "Open Sans";
      }
    }

    .purchaseGroupEntries {
      flex-grow: 2;
      /* padding: 0.5rem 0.5rem 0.5rem 1rem; */
      padding: 0;
      margin: 0;
      border-bottom: 1px solid $ssb-dark-2;

      .highlight {
        background-color: $ssb-green-2;
      }

      .purchaseGroupEntry {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        .purchaseEntryName {
          font-weight: bold;
          font-family: Roboto;
        }

        .purchaseTotalEdit {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .purchaseEntryTotal {
            font-weight: normal;
            font-family: "Open Sans";
          }

          .editPurchase {
            margin-left: 1.25rem;
            color: $ssb-green-4;
          }
        }
      }

      .purchaseGroupEntry + .purchaseGroupEntry {
        margin-top: 1rem;
      }

      .purchaseGroupEntry:last-of-type {
        margin-bottom: 1rem;
      }
    }

    .dateNav {
      flex-grow: 0;
      width: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      color: $ssb-green-3;
      border-left: 1px solid #eee;
      margin-left: 0.5rem;
      padding-left: 0.5rem;

      display: none;
    }
  }

  .purchaseGroup + .purchaseGroup {
    margin-top: 1rem;
  }
}

.radioGroup {
  display: flex !important;

  .radio {
    display: flex !important;
    flex-direction: row !important;
  }
}

