@import '../../../styles/common';

.purchasesTableContainer {
  /* background-color: $ssb-dark-1; */
  height: 100%;

  .purchasesTableHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0rem;

    .navTitleGroup {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        color: $ssb-green-4;
      }

      h1 {
        font-size: 2rem;
        padding: 0.5rem 1.25rem 1rem;
        font-family: Roboto Condensed;
        margin: 0;
      }
    }

    .navItem {
      color: $ssb-green-4;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.5rem;

      .navIcon {
      }
    }


  }

  .purchasesTable {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0;

    border-width: 1px 0;
    border-style: solid;
    border-color: $ssb-dark-2;

    .purchaseRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      padding: 1rem 0;
      background-color: #fff;
      color: #000;

      .purchaseName {
        flex: 2;
        order: 1;

        span {
          font-weight: bold;
          font-family: Roboto;
        }
      }

      .purchaseAmount {
        flex: 1;
        order: 2;

        text-align: right;
      }

      .purchaseDetailsIcon {
        flex: 0;
        order: 3;
        width: 3rem;

        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: $ssb-green-4;
      }
    }

    .purchaseRow + .purchaseRow {
      border-top: 1px solid $ssb-dark-2;
    }
  }
}
