.scanReceipts {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  .previews {
    img.preview {
      width: 100%;
    }
  }
}
