.itemTable {
  margin: 1rem 0 0;

  th {
    font-size: 1.1rem;
    font-weight: 800;
  }

  @media(max-width: 480px) {
    th {
      font-size: 1rem;
    }
  }

  td, th {
    padding: 0.5rem 0;
  }

  tr:first-child {
    /* border-bottom: 1px solid #C3DCDC; */
  }

  tr + tr:not(:last-of-type) {
    border-top: 1px solid #C3DCDC;
  }

  tr.totalRow {
    border-top: 1px solid #2D6975;
    /* border-bottom: 1px solid #2D6975; */

    td {
      font-weight: bold;
    }

    td:not(:first-child) {
      padding-left: 0.25rem;
    }

    td:nth-of-type(1) {
      text-align: right;
    }

    td:nth-of-type(2) {
      text-align: right;
    }
  }
}
