.diary {
  font-family: "Open Sans";

  .calendarHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .surveyPeriodPrefix {
    font-weight: normal;
  }

  .surveyPeriod {
    font-weight: 700;
    margin-left: 0.5rem;
  }
}
