.camera {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  .scene {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    order: 1;

    height: 100%;
    width: 100%;
  }
}

.shutterButton {
  position: absolute;
  bottom: 50px;
  order: 2;
}

.screenInfo {
  color: #fff;
  bottom: 20px;
  order: 3;
  position: absolute;
}

.vertical {
  transform: rotate(90deg);
}
