@import '../../../../styles/common';

.editItemDialog {
  display: flex;
  flex-direction: column;

  .headerZone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.25rem;
    padding: 0 1rem;

    .leftSection {
      order: 1;
      display: flex;
      align-items: center;

      .icon {
        width: 20px;
        height: 20px;
        color: $ssb-green-4;
      }
    }

    .rightSection {
      order: 2;

      .saveChangesLink {
        color: $ssb-green-4;
      }
    }
  }

  .newItemForm {
    border-top: 1px solid $ssb-dark-2;
    padding: 1.25rem;

    .itemName {
      flex: 2 1;
    }


    .qtyAmountGroup {
      display: flex;
      flex-direction: row;
      align-items: center;

      .qty {
        order: 1;
        flex: 1 1;

        input {
          text-align: right;
        }
      }

      .amount {
        order: 2;
        flex: 2 1;

        input {
          text-align: right;
        }
      }

      .qty + .amount {
        margin-left: 1rem;
      }
    }

    .formField + .formField {
      margin-top: 1rem;
    }
  }
}

.searchTermOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .searchTermName {
    order: 1;
  }

  .searchTermCode {
    order: 2;
    color: $ssb-dark-3;
  }
}
