@import 'src/styles/colours';

.homeCTAGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .homeCTA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 12.5rem;
    border: 2px solid $ssb-green-4;

    /**
     * OBS:
     *   the value 3.3875rem was arrived at by trial and error. seems to be related to the
     *   left margin of .homeCTA:nth-child(even), but unable to elucidate how exactly
     */
    flex-basis: calc(50% - 3.3875rem);
    margin: 0 0 1.25rem 0;
    padding: 0 1.25rem;

    .icon {
      width: 68px;
      height: 80px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      font-family: Roboto;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.75rem;

      text-align: center;
      margin-top: 1.25rem;
    }
  }

  .homeCTA:nth-child(even) {
    margin-left: 1.25rem;
  }
}
