@import 'src/styles/common';

.headerComponentWrapper {
  align-items: center;
  background: $ssb-dark-1; /* $ssb-white; */
  /* border-bottom: 1px solid $ssb-dark-5; */
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  height: 68px;

  .contentHolder {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;

    .mobileMenu {
      background: $ssb-white;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999;

      .versionNumber {
        padding: 20px;
        text-align: right;
      }
    }
  }

  &.frontPage {
    background: $ssb-dark-1;
    border-bottom: 0;

    .contentWrapper {
      width: 100%;
      /* height: 100% !important; */
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .leftSection {
    display: flex;
    justify-content: space-between;

    .logoAndTitle {
      display: flex;
      height: 38px;
      align-items: center;

      .ssbTextWrapper {
        align-items: center;
        display: flex;
      }

      .homeNav {
        cursor: pointer;
        width: 50px;
        margin-right: 0.5rem;

        .logoFull {
          height: 50px;
          /* background-image: url('./maskable_icon-96x96.png'); */

          img {
            width: 50px;
          }
        }
      }

      .desktopVersionNumber {
        align-items: center;
        display: flex;
      }


      @media #{$mobile} {
        .homeNav {
          width: 50px;
          display: flex;
          margin-right: 0.5rem;

          .logoFull {
            height: 50px;
            /* background-image: url('./maskable_icon-96x96.png'); */
            img {
              width: 50px;
            }
          }
        }

        .diagonalDivider {
          display: none;
        }
      }

      .diagonalDivider {
        background: $ssb-dark-6;
        margin: 0 ($global-padding-size * 2);
        width: 1px;
      }

      .siteTitle {
        @include roboto-condenced;
        color: $ssb-dark-5;
        font-size: 28px;
        font-weight: bold;
        margin: 0;

        @media #{$mobile} {
          font-size: 24px;
        }
      }
    }

    .actionLink {
      display: flex;
      justify-content: space-between;
      align-items: center;

      color: $ssb-green-4;

      .actionIcon {
        margin: 0 0.25rem;
      }

      .text {

      }
    }

    @media #{$mobile} {
      .logoAndTitle {
        align-items: center;
      }

      .desktopVersionNumber {
        display: none;
      }
    }
  }

  .rightSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 1rem;

    h3 {
      font-size: 1rem;
      font-family: "Roboto";
    }

    .links {
      align-items: center;
      display: flex;
      font-weight: bold;
      margin-left: 16px;

      > div {
        margin-left: $global-padding-size;
      }
    }

    .menuGroup {
      display: flex;
      justify-content: center;
      align-items: center;

      .menuLabel {
        @include roboto;
        font-size: 1rem;
        font-weight: normal;
        margin-right: 0.5rem;
        color: $ssb-green-4;
      }

      .menuIcon {
        color: $ssb-green-4;
      }
    }

  }

  .headerNavigation {
    color: $ssb-dark-6;
    font-size: 20px;
    font-weight: bold;
    margin: 0 16px;
    text-decoration: none;
    white-space: nowrap;

    &.active, &:hover, &:focus {
      color: $ssb-green-4;
    }
  }

  .getStarted {
    margin-bottom: 60px;

    .getStartedTitle {
      color: $ssb-green-3;
    }

    .introText {
      font-size: 20px;
      line-height: 1.7;
    }
  }

  .logoSymbol {
    display: none;
    height: 28px;
  }

  .mobileCollapseMenu {
    display: none;
    margin-bottom: 0;

    input {
      opacity: 0;
    }
  }

  .menuLabel {
    @include roboto;
    font-size: 20px;
    font-weight: normal;
    margin-right: 0.5rem;
    color: $ssb-green-4;
  }

  @media #{$mobile} {
    .mobileCollapseMenu {
      align-items: center;
      display: flex;
    }

    .navigationItems {
      &.closed {
        display: none;
      }
    }
  }

  @media #{$mobile} {
    .contentHolder {
      padding: 20px;
    }

    .searchBarContainer {
      margin: 0 20px 20px 20px;
    }

    .logoSymbol {
      display: block;
      margin-right: 8px;
    }

    .ssbTitle {
      color: $ssb-dark-5;
      margin-bottom: 0;
    }

    .leftSection, .rightSection {
      margin-bottom: 0;
    }

    .mobileNavigationItems {
      border-bottom: 1px solid $ssb-dark-2;

      .headerNavigation {
        border-top: 1px solid $ssb-dark-2;
        margin: 0;
        padding: 20px;
      }
    }
  }
}


