@import 'src/styles/common';

.workspace {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* background-color: $ssb-dark-1; */
  background-color: #fff;
  height: 100vh;
  padding: 1rem 0;
  overflow-y: scroll;

  h3,
  h4 {
    display: inline-block;
    margin: 0;
  }

  .workspacePanel {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #c3dcdc;
    background-color: #ffffff;
  }

  .itemFormPanel {
    background-color: #fff;
  }

  .addItemPanel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
