@import 'src/styles/common';

.workspace {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* background-color: $ssb-dark-1; */
  background-color: #fff;
  /* height: 100vh; */
  overflow-y: scroll;
  height: 100%;

  padding: 1.25rem;

  h2 {
    margin: 3.75rem 0 2.5rem;
    font-size: 2.75rem;
    font-family: "Roboto Condensed";
  }

  h3,
  h4 {
    margin: 0;
    font-size: 2.75rem;
    font-family: "Roboto Condensed";
    background-color: transparent;
  }

  .pageHeader {
    /* background-color: $ssb-dark-1; */
    display: flex;
    justify-content: space-between;
    /* padding: 1.25rem; */
    margin: 2.5rem 0;

    h1 {
      font-size: 2.75rem;
      padding: 0;
      font-family: 'Roboto Condensed';
      margin: 0;
      font-weight: 700;
      line-height: 3.5rem;
      /* background-color: $ssb-dark-1; */
    }

    .leftSection {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      /* flex: 1 1; */
    }

    .rightSection {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      /* flex: 1 1; */
    }
  }

  .workspacePanel {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #c3dcdc;
    background-color: #ffffff;
  }

  .itemFormPanel {
    background-color: #fff;
  }

  .addItemPanel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .error {
    padding: 1rem;
    background-color: $ssb-red-1;
    color: $ssb-red-4;
  }
}
